@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

$normalFont: "Google Sans Flex", sans-serif;
$logoFont: "Bungee Spice", sans-serif;
$buttonColor: orange;

* {
  margin: 0;
  padding: 0;
}
body {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.363) inset;
  min-height: 100vh;
}

@mixin desktop-large {
  @media (max-width: 1800px) {
    @content;
  }
}

@mixin desktop-medium {
  @media (max-width: 1200px) {
    @content;
  }
}
