@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

$normalFont: "Google Sans Flex", sans-serif;
$logoFont: "Bungee Spice", sans-serif;
$buttonColor: orange;

* {
  margin: 0;
  padding: 0;
}
body {
  //Darkmode
  box-shadow: 0 2px 30px rgba(59, 59, 59, 0.39) inset;
  min-height: 100vh;
  //Darkmode
  background-image: radial-gradient(circle at top, #4a4a4a, #262626, #141414);
  background-attachment: fixed;
}

@mixin desktop-large {
  @media (max-width: 1800px) {
    @content;
  }
}

@mixin desktop-medium {
  @media (max-width: 1200px) {
    @content;
  }
}
